.fondo {
    background-image: linear-gradient(-90deg, #45526E, #8497b5);
    color:#f4f3f3;
    max-height: 300px;
    font-family: "robotoBold";
}
.espacios{
    
    margin:auto;
    margin-left: 1px;
    background-color: #f0ad4e;
    border: #12292b;
    width: 70px;
    margin-right: 70px;
    vertical-align: auto;
    margin-left: 20px;
}

