
<nav class="fondo navbar navbar-expand-lg">

  <img src="../assets/images/madridestrellas.png" width="80" height="40" alt="Imagen de Bandera de Comunidad de Madrid">

  <button class="navbar-toggler" style="background-color: orange;" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon" style="color: white"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink='/competiciones'>COMPETICIONES</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink='/institutos'>INSTITUTOS</a>
      </li>
      <li class="nav-item" routerLinkActive="active" *ngIf="this.loginService.isAuthenticated() && this.loginService.hasRole('ROLE_ADMIN')" >
        <a class="nav-link" routerLink='/competiciones/form'>CREAR EVENTO</a>
      </li>
      <li class="nav-item" routerLinkActive="active" *ngIf="this.loginService.isAuthenticated() && this.loginService.hasRole('ROLE_ADMIN')" >
          <a class="nav-link" routerLink='/institutos/form'>CREAR INSTITUTO</a>
        </li>
      
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <div class="row botonesFijos">
          <button *ngIf="!this.loginService.isAuthenticated()" type="button" name="button" [routerLink]="['/login']"
              class="btn  espacios">Login</button>
              <div *ngIf="this.loginService.isAuthenticated()" class="btn-group">
                <button type="button" class="btn btn-primary espacios" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{loginService.usuario.nombreUsuario}}
                </button>
                <div class="dropdown-menu">
                  <button  (click)="logout()" type="button" class="btn btn-outline dropdown-item" style="width: 50px" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Cerrar Sesión
                  </button>
              </div>
            </div>
          </div>
    </form>
  </div>
  </nav>
<!--<div id="carouselExampleSlidesOnly" class="carousel slide" style="height: 00px" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="../../assets/images/fondo1.jpg  " alt="First slide">
    </div>
  </div>
</div>-->