<div class="fondoPage">
  <section>
    <!-- card-->

    <!--Fin de card-->

    <div class="container my-5">
      <div class="jumbotron align-items-center ">
        <h1 class="display-4 text-center">INSTITUTOS PARTICIPANTES</h1>
        <h6 class="text-center">Estos son los institutos que podran participa, si no ves el tuyo contacta con la
          dirección de tu centro.</h6>
        <div class="container">
          <div class="row">

            <div class="col-xs-12 " *ngFor="let instituto of institutos">


              <!-- 
                <div class="maincontainer">
  
                  <div class="card col-6 col-xl-12 col-md-12 fondo thecard" style="width: 19rem;">
                    <img class="card-img-top" src="../../assets/images/abril.png" alt="Card image cap">
                    <div class="card-body card">
                      <div class="thefront card-text">
                        <h1>Front of Card</h1>
                        <p>This is the front of the card. It contains important information. Please see overleaf for more
                          details.</p>
                      </div>
  
                      <div class="theback card-text">
                        <h1>Back of Card</h1>
                        <p>Your use of this site is subject to the terms and conditions governing this and all
                          transactions.</p>
                        <button>Submit</button>
                      </div>
                    </div>
                  </div>
                </div>
                card -->
              <!--Fin de card-->



              <div class="card  col-xs-12 fondo">


                <div class="backcard">
                  <img class="card-img-top" src="../../assets/images/abril.png" alt="Card image cap"
                    style="height: 250px; width: 100%;">
                  <div *ngIf="!this.loginService.isAuthenticated()">
                    <p class="card-text">Si quieres participar contacta con tu instituto para que te de de alta</p>
                  </div>
                  <div class="row botonesFijos"
                    *ngIf="this.loginService.isAuthenticated() && this.loginService.hasRole('ROLE_ADMIN')">
                    
                    <button type="button" name="actualizar"
                      [routerLink]="[ '/institutos/form', instituto.id_instituto ]"
                      class="btn btn-primary espacios centrarBoton">Editar</button>

                    <button type="button" name="eliminar" (click)="delete(instituto)"
                      class="btn btn-primary espacios centrarBoton">Eliminar</button>
                  </div>
                  <div class="row botonesFijos"
                    *ngIf="this.loginService.isAuthenticated() && !this.loginService.hasRole('ROLE_ADMIN')">
                    <p class="card-text">{{instituto.localizacion}}</p>

                  </div>

                </div>
                <div class="frontcard">
                  <img class="card-img-top" src="../../assets/images/abril.png" alt="Card image cap"
                    style="height: 300px; width: 100%;">
                  <h4 class="card-title text-center ">{{instituto.nombre}}</h4>
                  <p class="card-text text-center">{{instituto.localizacion}}</p>
                  <p class="card-text text-center">{{instituto.telefono_contacto}}</p>
                  <p class="card-text text-center">{{instituto.email_contacto}}</p>

                </div>




              </div>


            </div>
          </div>
        </div>
      </div>

    </div>

  </section>