.card{
  margin-left: 36px;
  position: relative;
  transform-style: preserve-3d;
  transition: all 0.8s ease;


}


.card:hover{

  transform: rotateY(180deg);
}

.frontcard{

  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  overflow: hidden;

}


.backcard{
  
  position: fixed;
  width: 100%;
  height: 100%;  
  backface-visibility: hidden;
  overflow: hidden;
  transform: rotateY(180deg);

}

.fondo {
  background-image: linear-gradient(-90deg, #45526E, #8497b5);
  color:#f4f3f3;
  margin-top: 20%;
  margin-bottom: 20%;
}

.position {
position: absolute
}

.botonesFijos{
  height: 80px;
  margin: auto;
  align-items: center;
  
}
.espacios{
  background-image: linear-gradient(-90deg, #08090b, #12292b);
  margin:auto;
  margin-left: 1px;
  background-color: #12292b;
  border: #12292b;
  width: 100px;
  margin-top: 10px;
  vertical-align: auto;
  align-items: center;  
  position: relative;
}