<app-detalle *ngIf="competicionSeleccionada" [competicion]="competicionSeleccionada"></app-detalle>
<div class="fondoPage">
  <section>
    <!-- card-->

    <!--Fin de card-->

    <div class="container my-5 align-items-center ">
      <div class="jumbotron  ">

        <h1 class="display-4 text-center">EVENTOS</h1>
        <h6 class="text-center">Estos son los concursos disponibles, ¡No dudes en participar!</h6>
        <hr/>
        <div class="container">
          <div class="row">

            <div class="col-xs-12 col-lg-4" *ngFor="let competicion of competiciones">


              <!-- 
              <div class="maincontainer">

                <div class="card col-6 col-xl-12 col-md-12 fondo thecard" style="width: 19rem;">
                  <img class="card-img-top" src="../../assets/images/abril.png" alt="Card image cap">
                  <div class="card-body card">
                    <div class="thefront card-text">
                      <h1>Front of Card</h1>
                      <p>This is the front of the card. It contains important information. Please see overleaf for more
                        details.</p>
                    </div>

                    <div class="theback card-text">
                      <h1>Back of Card</h1>
                      <p>Your use of this site is subject to the terms and conditions governing this and all
                        transactions.</p>
                      <button>Submit</button>
                    </div>
                  </div>
                </div>
              </div>
              card -->
              <!--Fin de card-->



              <div class="card  fondo" style="width: 19rem;">
                <div>

                </div>
                <div class="backcard">
                  <img (click)="abrirModal(competicion)" *ngIf="competicion?.foto"
                    src="http://localhost:8080/uploads/img/{{competicion.foto}}" alt="{{competicion.foto}}"
                    class="img-thumbnail rounded mb-2" style="height: 250px; width: 100%;">
                  <img (click)="abrirModal(competicion)" *ngIf="!competicion?.foto"
                    src="http://localhost:8080/uploads/img/noimage.png" alt="SinFoto" class="img-thumbnail rounded mb-2"
                    style="height: 250px;width: 100%;">
                  <div *ngIf="!this.loginService.isAuthenticated()">
                    <p class="card-text">Si quieres participar contacta con tu instituto para que te de de alta</p>
                  </div>
                  <div class="row botonesFijos"
                    *ngIf="this.loginService.isAuthenticated() && this.loginService.hasRole('ROLE_ADMIN')">

                    <p class="card-text">{{competicion.descripcion}}</p>
                    <button type="button" name="actualizar"
                      [routerLink]="[ '/competiciones/form', competicion.idCompeticion ]"
                      class="btn btn-primary espacios centrarBoton">Editar</button>

                    <button type="button" name="eliminar" (click)="delete(competicion)"
                      class="btn btn-primary espacios centrarBoton">Eliminar</button>
                  </div>
                  <div class="row botonesFijos"
                    *ngIf="this.loginService.isAuthenticated() && !this.loginService.hasRole('ROLE_ADMIN')">
                    <p class="card-text">{{competicion.descripcion}}</p>
                    <button type="button" name="registrar" class="btn btn-primary espacios centrarBoton"
                      (click)="registrarEnEvento(competicion)"> Registrar</button>

                  </div>

                </div>
                <div class="frontcard">
                  <img (click)="abrirModal(competicion)" *ngIf="competicion?.foto"
                    src="http://localhost:8080/uploads/img/{{competicion.foto}}" alt="{{competicion.foto}}"
                    class="img-thumbnail rounded mb-2" style="height: 300px; width: 100%;">
                  <img (click)="abrirModal(competicion)" *ngIf="!competicion?.foto"
                    src="http://localhost:8080/uploads/img/noimage.png" alt="SinFoto" class="img-thumbnail rounded mb-2"
                    style="height: 300px;width: 100%;">
                  <h4 class="card-title text-center ">{{competicion.nombreCompeticion}}</h4>
                  <p class="card-text text-center">Número de plazas : {{competicion.plazas}}</p>
                  <p class="card-text text-center">Lugar : {{competicion.lugarEvento}}</p>
                  <p class="card-text text-center">Dificultad (Principiante 1 - Avanzado 3): {{competicion.dificultad}}
                  </p>
                </div>


              </div>


            </div>
          </div>
        </div>
      </div>

    </div>

  </section>
</div>