<div class="container">

  <div class="login-form">
    <div class="main-div">
      <ul class="alert alert-danger" *ngIf="errores?.length > 0">
        <li *ngFor="let err of errores">
          {{ err }}
        </li>
      </ul>
      <div class="panel">
        <h2>Crear evento</h2>
        <p>No olvide introducir todos los datos</p>
      </div>
      <hr>
      <form id="Login">

        <div class="form-group row">
          <label for="nombreCompeticion" class="col-form-label col-sm-12"></label>
          <div class="col-sm-12">
            <input type="text" class="form-control" name="nombreCompeticion" [(ngModel)]="competicion.nombreCompeticion"
              placeholder="Nombre del evento" />
          </div>
        </div>
        <!--Descripcion -->
        <div class="form-group row">
          <label for="descripcion" class="col-form-label col-sm-12"></label>
          <div class="col-sm-12">
            <textarea name="descripcion" [(ngModel)]="competicion.descripcion" rows="10" style="width: 100%;"
              placeholder="Descripcion"></textarea>
          </div>
        </div>

        <!--Lugar Evento -->
        <div class="form-group row">
          <label for="lugarEvento" class="col-form-label col-sm-12"></label>
          <div class="col-sm-12">
            <input type="text" class="form-control" name="lugarEvento" [(ngModel)]="competicion.lugarEvento"
              placeholder="Lugar del evento...">
          </div>
        </div>

        <!-- Plazas-->
        <div class="form-group row">
          <label for="plazas" class="col-form-label col-sm-12"></label>
          <div class="col-sm-12">
            <input type="text" class="form-control" [(ngModel)]="competicion.plazas" name="plazas">
          </div>
        </div>

        <!--Dificultad -->
        <div class="form-group row">
          <label for="dificultad" class="col-form-label col-sm-12">Dificultad de la competicion</label>
          <div class="col-sm-12">
            <select [(ngModel)]="competicion.dificultad" name="dificultad">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-12">
            <button class="btn btn-primary" role="button" (click)="crear()"
              *ngIf="!competicion.idCompeticion else bloqueElse">Crear</button>
            <ng-template #bloqueElse>
              <button class="btn btn-primary" role="button" (click)="actualizar()">Editar</button>
            </ng-template>

          </div>
        </div>

      </form>
    </div>
  </div>
</div>