/* You can add global styles to this file, and also import other style files */
a {
    color: #12292b;
}

body#LoginForm{ background-image: linear-gradient(-90deg, #FEE7E7, #F3F2F2); background-repeat:no-repeat; background-position:center; background-size:cover; }
